:root {
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  --bg-color: #884a39;
  --secondary-color: #f9e0bb;
  --alt-color: #c38154;
  --hover-color: #ffc26f;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}
